body {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.receiveBall {
  position: absolute;
  top: 30%;
  width: 100px;
  height: 100px;
  background-color:white;
  align-self: center;
  border: solid 2px black;
  border-radius: 100%;
  align-items: center;
  text-align: center;
}

.receiveBall p {
  align-self: center;
}

.diminish {
  animation-name: diminish;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes diminish {
  50% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.7);
  }
}

.startbutton {
  color:rgb(255, 176, 68);
  padding: 10px 3px 10px 30px;
  border-radius: 10%;
  border: 2px solid rgb(255, 176, 68);
  position: absolute;
  background-color: #000;
  padding-left: 2px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 43%;
  top: 70%;
  font-size: 20px;
}
